<tr>
  <td>Author:  <%= comment.author %></td>
  <td>
    <%= link_to 'Show Comment', post_comment_path(comment.post_id, comment.id), class: 'btn btn-primary', style: 'color: white;' %>
  </td>
  <td>
    <%= link_to 'Delete Comment', post_comment_path(comment.post_id, comment.id), method: :delete, class: 'btn btn-danger', style: 'color: white;' %>
  </td>
  <td>
    <%= link_to 'Edit comment', edit_post_comment_path(comment.post_id, comment.id), class: 'btn-warning btn', style: 'color: white;' %>

  </td>

</tr>
<tr>
  <td>Content:  <%= comment.content %></td>
</tr>

